<!doctype html>
<html lang="en">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="site-status-message" class="alert alert-info hidden site-status" role="alert">
        <span class="status-message"></span>
    </div>
    <div id="check-alert-message" class="alert alert-warning hidden site-status" role="alert">
        <span class="status-message"></span>
    </div>
    <div class="site-status-holder"></div>
    <div class="container">
        <div class="site-container">
            <h1>Chess Squad!</h1>
            <div class="row">
            <div>     
                <table class="table board">
                <thead>
                    <tr>
                    <th scope="row"></th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                    <th>E</th>
                    <th>F</th>
                    <th>G</th>
                    <th>H</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">8</th>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    </tr>
                    <tr>
                    <th scope="row">7</th>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    </tr>
                    <tr>
                    <th scope="row">6</th>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    </tr>
                    <tr>
                    <th scope="row">5</th>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    </tr>
                    <tr>
                    <th scope="row">4</th>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    </tr>
                    <tr>
                    <th scope="row">3</th>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    </tr>
                    <tr>
                    <th scope="row">1</th>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    <td class="alt"></td>
                    <td></td>
                    </tr>
                </tbody>
                </table>
                </tbody>
                </table>
            </div>
            <div id="game-log-container" class="well">
                <ul id="game-log" class="list-group"></ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="pawn-promotion" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Pawn Promotion</h4>
                </div>
                <div class="modal-body">
                    <p>Great job on the promotion! What would you like to be?</p>
                    <div class="radio">
                        <label>
                            <input type="radio" name="promotion-piece" value="Q"> Queen
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="promotion-piece" value="N"> Knight
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="promotion-piece" value="B"> Bishop
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="promotion-piece" value="R"> Rook
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Promote</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>