/* Messaging */
.site-status-holder {
    height: 52px;
}

.site-status {
    position: absolute;
    width: 100%;
}

/* Panels */
.grouping-panel { 
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
}

.grouping-panel > .title {
    color: lightgray;
    font-weight: bold;
    overflow: scroll;
}

.game-log-container {
    height: 200px;
    overflow: scroll;
    width: 100%;
}

.game-log-container ul {
    padding: 0px;
}

.game-log-container .list-group-item {
    border: 0px;
}

.game-container {
    width: 450px;
    float: left;
    margin: 10px;
}

.game-info-container {
    width: 450px;
    height: 450px;
    float: left;
    margin: 10px;
    margin-top: 45px;
}

/* Board */

.table.board {
    width: inherit;
}

.table.board th {
    text-align: center;
    color: lightgray;
    border: 0px;
}

.table.board td {
    text-align: center;
    width: 50px;
    height: 50px;
    border: 1px solid lightgray;
}

.table.board td.alt {
    background-color: lightblue;
}

.table.board .valid-move {
    border: 2px dashed orange;
}

/* Pieces */
.piece {
    font-size: 18px;
    border-radius: 100px;
    padding: 0px 4px 4px 4px;
    border: 2px solid dimgray;
    cursor: pointer;
}

.selected > .piece {
    border: 2px dashed orange;
}

.piece.tiny {
    font-size: 12px;
    border-radius: 100px;
    padding: 0 2px 2px 2px;
    border: 0;
    cursor: inherit;
}

.piece.tiny {
    border: 0px;
}

.black.piece {
    background-color: black;
    color: white;
}

.white.piece {
    background-color: white;
    color: black;
}

.king:after {
    content: "\2654";
}

.queen:after {
    content: "\2655";
}

.rook:after {
    content: "\2656";
}

.bishop:after {
    content: "\2657";
}

.knight:after {
    content: "\2658";
}

.pawn:after {
    content: "\2659";
}