/* Messaging */
.site-status-holder {
    height: 52px;
}

.site-status {
    position: absolute;
    width: 100%;
}

/* Board */
.table.board {
    width: inherit;
}

.table.board th {
    text-align: center;
    color: lightgray;
    border: 0px;
}

.table.board td {
    text-align: center;
    width: 75px;
    height: 75px;
    border: 1px solid lightgray;
}

.table.board td.alt {
    background-color: lightblue;
}

/* Pieces */
.piece {
    font-size: 36px;
    border-radius: 100px;
    padding: 0px 8px 8px 8px;
    border: 3px solid dimgray;
    cursor: pointer;
}

.piece:hover {
    border: 3px solid orange;
}


.black.piece {
    background-color: black;
    color: white;
}

.white.piece {
    background-color: white;
    color: black;
}

.king:after {
    content: "\2654";
}

.queen:after {
    content: "\2655";
}

.rook:after {
    content: "\2656";
}

.bishop:after {
    content: "\2657";
}

.knight:after {
    content: "\2658";
}

.pawn:after {
    content: "\2659";
}